body {
    background-image: url('stitch1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mensaje {
    font-size: 4vw; /* Utiliza vw en lugar de px */
    font-weight: bold;
    color: #0e0e0e;
    margin-bottom: 2vh; /* Utiliza vh en lugar de px */
    text-shadow: 2px 2px 4px rgba(48, 6, 131, 0.2);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid #fff;
}

.burbuja {
    position: absolute;
    font-size: 2.5vw; /* Utiliza vw en lugar de px */
    font-weight: bold;
    color: #020202;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: burbuja 3s ease-in-out;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 1vw; /* Utiliza vw en lugar de px */
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.319);
}
@keyframes burbuja {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}
@media (max-width: 768px) {
    #mensaje {
        font-size: 6vw;
    }
    .burbuja {
        font-size: 3.5vw;
    }
}

@media (max-width: 480px) {
    #mensaje {
        font-size: 8vw;
    }
    .burbuja {
        font-size: 4.5vw;
    }
}
